body {
    font-family: sans-serif;
    background-color: lightgray;
}

select {
    max-width: 80%;
}

table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: right;
  padding: 3px;
}

table {
  width: 90%;
}

div.primary {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    background-color: white;
    max-width: 600px;
}

#results {
/*    background-color: pink; */
}

.tableTitle {
  margin: 18px 0px 2px;
}
