body {
    font-family: sans-serif;
}

table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: right;
  padding: 3px;
}

table {
  max-width: 300px;
}

.primary {
    margin: 15px;
    padding: 10px;
}


a.button {
    appearance: button;
}
