body {
    font-family: Helvetica, sans-serif;
    background-color: whitesmoke;
    color: black;
    /* transition: 2s; */
}

a:link{color:purple;}
a:visited{color:blue;}
a:hover{color:red;}
a:active{color:orange;}

.dark-mode {
    background-color: black;
    color: whitesmoke;
}

.dark-mode a:link{color:plum;}
.dark-mode a:visited{color:lightskyblue;}

select {
    max-width: 80%;
}

table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}

td.keycell {
  text-align:left;
}

td.datacell {
  text-align:right;
}

table {
  
}

div.primary {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    max-width: 800px;
}

#results {
/*    background-color: pink; */
}

.tableTitle {
  margin: 18px 0px 2px;
}

.tooltip{
  text-decoration: underline;
  color: darkcyan;
}

.form_instructions{
  color: grey;
  font-style: italic;
}