body {
    font-family: Helvetica, sans-serif;
}

select {
    max-width: 80%;
}

table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}

td.keycell {
  text-align:left;
}

td.datacell {
  text-align:right;
}

table {
  
}

div.primary {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    background-color: white;
    max-width: 800px;
}

#results {
/*    background-color: pink; */
}

.tableTitle {
  margin: 18px 0px 2px;
}

.tooltip{
  text-decoration: underline;
  color: darkcyan;
}

.form_instructions{
  color: grey;
  font-style: italic;
}